In [21]:
# Read in the consolidated data
import pandas as pd

QJE = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/QJE_master scopus merge.xlsx')

print(QJE.shape)
##print(QJE.columns.values)
print(QJE.head())

(2916, 59)
   Unnamed: 0.1  Article_ID  year_master                authors  \
0             0     1883343         1940      Wilfred Malenbaum
1             1     1882620         1940                    NaN
2             2     1883336         1940           A. P. Lerner
3             3     1883335         1940          Fritz Machlup
4             4     1883334         1940  Bennett S. White, Jr.

  content_type_master  Unnamed: 0 Journal_Name  Authors_count Authors_list  \
0             Article         NaN          NaN            NaN          NaN
1             Article         NaN          NaN            NaN          NaN
2             Article         NaN          NaN            NaN          NaN
3             Article         NaN          NaN            NaN          NaN
4             Article         NaN          NaN            NaN          NaN

  content_type  ... 0_author_affs_consolidated_1_scopus  \
0          NaN  ...                                 NaN
1          NaN  ...                                 NaN
2          NaN  ...                                 NaN
3          NaN  ...                                 NaN
4          NaN  ...                                 NaN

  0_author_affs_consolidated_2_scopus  1_author_affs_consolidated_0_scopus  \
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 NaN                                  NaN
4                                 NaN                                  NaN

  1_author_affs_consolidated_1_scopus 2_author_affs_consolidated_0_scopus  \
0                                 NaN                                 NaN
1                                 NaN                                 NaN
2                                 NaN                                 NaN
3                                 NaN                                 NaN
4                                 NaN                                 NaN

  2_author_affs_consolidated_1_scopus 3_author_affs_consolidated_0_scopus  \
0                                 NaN                                 NaN
1                                 NaN                                 NaN
2                                 NaN                                 NaN
3                                 NaN                                 NaN
4                                 NaN                                 NaN

   4_author_affs_consolidated_0_scopus 5_author_affs_consolidated_0_scopus  \
0                                  NaN                                 NaN
1                                  NaN                                 NaN
2                                  NaN                                 NaN
3                                  NaN                                 NaN
4                                  NaN                                 NaN

  6_author_affs_consolidated_0_scopus
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN

[5 rows x 59 columns]

In [22]:
mask_blank = QJE['authors'].isna()
QJE_blank = QJE[mask_blank]

print(QJE_blank.shape)
QJE_blank.head()

(26, 59)

,Unnamed: 0.1,Article_ID,year_master,authors,content_type_master,Unnamed: 0,Journal_Name,Authors_count,Authors_list,content_type,...,0_author_affs_consolidated_1_scopus,0_author_affs_consolidated_2_scopus,1_author_affs_consolidated_0_scopus,1_author_affs_consolidated_1_scopus,2_author_affs_consolidated_0_scopus,2_author_affs_consolidated_1_scopus,3_author_affs_consolidated_0_scopus,4_author_affs_consolidated_0_scopus,5_author_affs_consolidated_0_scopus,6_author_affs_consolidated_0_scopus
1,1,1882620,1940,NaN,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,1882619,1940,NaN,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,1881675,1940,NaN,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,59,1882070,1941,NaN,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,60,1882057,1941,NaN,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
mask_blank = QJE['authors'].isna()
QJE_exist = QJE[~mask_blank]

print(QJE_exist.shape)
QJE_exist.head()

(2890, 59)

,Unnamed: 0.1,Article_ID,year_master,authors,content_type_master,Unnamed: 0,Journal_Name,Authors_count,Authors_list,content_type,...,0_author_affs_consolidated_1_scopus,0_author_affs_consolidated_2_scopus,1_author_affs_consolidated_0_scopus,1_author_affs_consolidated_1_scopus,2_author_affs_consolidated_0_scopus,2_author_affs_consolidated_1_scopus,3_author_affs_consolidated_0_scopus,4_author_affs_consolidated_0_scopus,5_author_affs_consolidated_0_scopus,6_author_affs_consolidated_0_scopus
0,0,1883343,1940,Wilfred Malenbaum,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1883336,1940,A. P. Lerner,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1883335,1940,Fritz Machlup,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1883334,1940,"Bennett S. White, Jr.",Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1883333,1940,"Bennett S. White, Jr.",Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
import numpy as np
mask_scopus = QJE['0_author_affs_consolidated_0_scopus'].isna()

mask_scopus = QJE['0_author_affs_consolidated_0_scopus'].isna()
QJE_scopus = QJE[~mask_scopus]

print(QJE_scopus.shape)
QJE_scopus.head()

(1199, 59)

,Unnamed: 0.1,Article_ID,year_master,authors,content_type_master,Unnamed: 0,Journal_Name,Authors_count,Authors_list,content_type,...,0_author_affs_consolidated_1_scopus,0_author_affs_consolidated_2_scopus,1_author_affs_consolidated_0_scopus,1_author_affs_consolidated_1_scopus,2_author_affs_consolidated_0_scopus,2_author_affs_consolidated_1_scopus,3_author_affs_consolidated_0_scopus,4_author_affs_consolidated_0_scopus,5_author_affs_consolidated_0_scopus,6_author_affs_consolidated_0_scopus
2,2,1883336,1940,A. P. Lerner,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1883335,1940,Fritz Machlup,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1883333,1940,"Bennett S. White, Jr.",Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,1883332,1940,Alfred C. Neal,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1883330,1940,Hans Staehle,Article,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
import numpy as np
QJE_exist['Scopus'] = np.where(QJE_exist['0_author_affs_consolidated_0_scopus'].isna(), '', 'Scopus')
QJE_exist = QJE_exist.reset_index(drop = True)

/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_7058/2086225022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  QJE_exist['Scopus'] = np.where(QJE_exist['0_author_affs_consolidated_0_scopus'].isna(), '', 'Scopus')

In [26]:
# Excel output to get an overview of the data
QJE_exist.head
QJE_exist.to_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/QJE/QJE_exist.xlsx')