In [74]:
# Read in the consolidated data
import pandas as pd

ECTA_MTURK = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/ECTA/ecta_1940_1969_aff_results Corrected.xlsx', 'ecta_1940_1969_aff_results')

#for i in range(len(ECTA_MTURK)):
for i in range(0,3):
    x = ECTA_MTURK.iloc[i]['Input.pdf_url']
    #print((x.split('/')[3]).split('_')[0])
    ECTA_MTURK.loc[i,['Article_ID']] = (x.split('/')[3]).split('_')[0]
    print(ECTA_MTURK.iloc[i]['Article_ID'])

#print(ECTA_MTURK.shape)
##print(ECTA_MTURK.columns.values)
#print(ECTA_MTURK.head())

1906861
1907317
1909206

In [46]:
#Read in the master sheet
#Local store of AER_master
ECTA_master = pd.read_excel('/Users/MattJohnson/Desktop/Affiliations/1_Input files and processing input files/1_1_Input files/Master lists/Processed/ECTA_processed.xlsx')
for i in range(len(ECTA_master)):
    ECTA_master.loc[i,['Article_ID']] = ECTA_master.loc[i,['stable_url']].to_string().rsplit('/',1)[-1]

ECTA_master_condenced  = ECTA_master[['Article_ID','year','authors','content_type','title','issue','volume','pages']]
ECTA_master_condenced['year'] = ECTA_master_condenced['year'].astype('int')
ECTA_master_condenced['Article_ID'] = ECTA_master_condenced['Article_ID'].astype('int')
ECTA_master_condenced.rename(columns = {'year':'year_master', 'content_type':'content_type_master'}, inplace = True)
mask_year = ECTA_master_condenced['year_master'].isin([2019,2018,2017,2016,2015,2014,2013,2012,2011,1933,1934,1935,1936,1937,1938,1939])
ECTA_master_condenced = ECTA_master_condenced[~mask_year]
#mask_type = ECTA_master_condenced['content_type_master'].isin(['Rejoiner','MISC','Review'])
#ECTA_master_condenced = ECTA_master_condenced[~mask_type]
mask_type = ECTA_master_condenced['content_type_master'].isin(['Article',])
ECTA_master_condenced = ECTA_master_condenced[mask_type]
#ECTA_master_condenced.drop(~ECTA_master_condenced.loc[ECTA_master_condenced['year_master'].isin([2016])].index, inplace=True)
print(ECTA_master_condenced.shape)
ECTA_master_condenced.head()

(4736, 8)

/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_73079/2964893619.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ECTA_master_condenced['year'] = ECTA_master_condenced['year'].astype('int')
/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_73079/2964893619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ECTA_master_condenced['Article_ID'] = ECTA_master_condenced['Article_ID'].astype('int')
/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_73079/2964893619.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ECTA_master_condenced.rename(columns = {'year':'year_master', 'content_type':'content_type_master'}, inplace = True)

,Article_ID,year_master,authors,content_type_master,title,issue,volume,pages
775,40928462,2010,A. Pakes,Article,ALTERNATIVE MODELS FOR MOMENT INEQUALITIES,6,78.0,1783-1822
776,40928463,2010,"Veronica Guerrieri, Robert Shimer and Randall ...",Article,ADVERSE SELECTION IN COMPETITIVE SEARCH EQUILI...,6,78.0,1823-1862
777,40928464,2010,Melissa Dell,Article,"THE PERSISTENT EFFECTS OF PERU'S MINING ""MITA""",6,78.0,1863-1903
778,40928465,2010,Alejandro M. Manelli and Daniel R. Vincent,Article,BAYESIAN AND DOMINANT-STRATEGY IMPLEMENTATION ...,6,78.0,1905-1938
779,40928466,2010,"Simon Grant, Atsushi Kajii, Ben Polak and Zvi ...",Article,GENERALIZED UTILITARIANISM AND HARSANYFS IMPAR...,6,78.0,1939-1971

In [62]:
#Original scopus
import pandas as pd

ECTA_scopus = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/ECTA/ECTA_scopus split consolidated 1980 2010.xlsx', 'Sheet1')
for i in range(len(ECTA_scopus)):
    ECTA_scopus.loc[i,'title_cap'] = ECTA_scopus.iloc[i]['title'].upper().strip()
#QJE_scopus['Article_ID'] = QJE_scopus['Article_ID'].astype('int')


print(ECTA_scopus.head())

   Unnamed: 0                        authors  \
0           0      Levy, M.B., Wadycki, W.J.
1           1                    Barber√°, S.
2           2                  Hellwig, M.F.
3           3  Rosenzweig, M.R., Evenson, R.
4           4     Hochman, E., Zilberman, D.

                                               title  \
0  Education and the decision to migrate: an econ...
1  The manipulation of social choice mechanisms t...
2   A model of borrowing and lending with bankruptcy
3  Fertility, schooling, and the economic contrib...
4  Examination of environmental policies using pr...

                                             journal  volume  issue  year  \
0  Econometrica : journal of the Econometric Society      42    2.0  1974
1                                       Econometrica      45    7.0  1977
2                                       Econometrica      45    8.0  1977
3                                       Econometrica      45    5.0  1977
4                                       Econometrica      46    4.0  1978

       pages              DOI  \
0    377-388  10.2307/1911985
1  1573-1588  10.2307/1913950
2  1879-1906  10.2307/1914117
3          1              NaN
4    739-760  10.2307/1909747

                                        affiliations  ... 3_author  \
0                                                NaN  ...      NaN
1                                                NaN  ...      NaN
2                                                NaN  ...      NaN
3                                                NaN  ...      NaN
4  Inst. Econom. Res., Tel Aviv Univ., Ramat Aviv...  ...      NaN

  3_author_affs_0 3_author_affs_consolidated_0 4_author 4_author_affs_0  \
0             NaN                          NaN      NaN             NaN
1             NaN                          NaN      NaN             NaN
2             NaN                          NaN      NaN             NaN
3             NaN                          NaN      NaN             NaN
4             NaN                          NaN      NaN             NaN

  4_author_affs_consolidated_0 5_author 5_author_affs_0  \
0                          NaN      NaN             NaN
1                          NaN      NaN             NaN
2                          NaN      NaN             NaN
3                          NaN      NaN             NaN
4                          NaN      NaN             NaN

  5_author_affs_consolidated_0  \
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN

                                           title_cap
0  EDUCATION AND THE DECISION TO MIGRATE: AN ECON...
1  THE MANIPULATION OF SOCIAL CHOICE MECHANISMS T...
2   A MODEL OF BORROWING AND LENDING WITH BANKRUPTCY
3  FERTILITY, SCHOOLING, AND THE ECONOMIC CONTRIB...
4  EXAMINATION OF ENVIRONMENTAL POLICIES USING PR...

[5 rows x 39 columns]

In [63]:
ECTA_scopus['issue'] = ECTA_master_condenced['issue'].astype('object')
#print(ECTA_scopus.dtypes)
# issue object
# volume int
# pages object
#ECTA_master_condenced['issue'] = ECTA_master_condenced['issue'].astype('float')
print(ECTA_master_condenced.dtypes)

Article_ID               int64
year_master              int64
authors                 object
content_type_master     object
title                   object
issue                   object
volume                 float64
pages                   object
dtype: object

In [64]:
# Merging the masterfile onto the new melted file to get additional data
consolidated_master_scopus_merged = ECTA_master_condenced.merge(ECTA_scopus, how = 'left', left_on = ['volume', 'issue', 'title'], right_on = ['volume', 'issue', 'title'])

consolidated_master_scopus_merged = consolidated_master_scopus_merged.sort_values(by=['year_master'])
consolidated_master_scopus_merged = consolidated_master_scopus_merged.reset_index(drop = True)

In [65]:
# Excel output to get an overview of the data
consolidated_master_scopus_merged.head
consolidated_master_scopus_merged.to_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/ECTA/Scopus/ECTA_master scopus merge.xlsx')

# Merging on scopus post 1981 to check for affiliations

In [83]:
# Read in the consolidated data
import pandas as pd
import numpy as np
#for i in range(1577,1578):
QJE_consolidated_master_scopus_merged = pd.read_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/QJE/Scopus/QJE_master scopus merge.xlsx') 

QJE_consolidated_master_scopus_merged = QJE_consolidated_master_scopus_merged.loc[QJE_consolidated_master_scopus_merged['year_master'] >= 1980]
QJE_consolidated_master_scopus_merged = QJE_consolidated_master_scopus_merged.sort_values(by=['year_master'])
#QJE_consolidated_master_scopus_merged = QJE_consolidated_master_scopus_merged.replace(np.nan, '', regex=True)
print(QJE_consolidated_master_scopus_merged.shape)
QJE_consolidated_master_scopus_merged['year_master'] = QJE_consolidated_master_scopus_merged['year_master'].astype('int')
QJE_consolidated_master_scopus_merged['Article_ID'] = QJE_consolidated_master_scopus_merged['Article_ID'].astype('int')
QJE_consolidated_master_scopus_merged = QJE_consolidated_master_scopus_merged.reset_index(drop = True)

QJE_consolidated_master_scopus_merged  = QJE_consolidated_master_scopus_merged[['Article_ID','year_master','0_author_affs_consolidated_0']]
                                                                                
print(QJE_consolidated_master_scopus_merged.shape)
print(QJE_consolidated_master_scopus_merged.columns.values)
print(QJE_consolidated_master_scopus_merged.head())

(1449, 58)
(1449, 3)
['Article_ID' 'year_master' '0_author_affs_consolidated_0']
   Article_ID  year_master    0_author_affs_consolidated_0
0     1884607         1980                             NaN
1     1885347         1980           University Of Chicago
2     1885355         1980                             NaN
3     1885507         1980               Dartmouth College
4     1885506         1980  Indiana University Bloomington

In [84]:
# Read in the consolidated data
import pandas as pd
import numpy as np
#for i in range(1577,1578):
QJE_scopus_1981_2010 = pd.read_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/QJE/Scopus/QJE_scopus split 1981 2010.xlsx') 

for i in range(len(QJE_scopus)):
    QJE_scopus_1981_2010.loc[i,['Article_ID']] = QJE_scopus_1981_2010.loc[i,['DOI']].to_string().rsplit('/',1)[-1]

#QJE_scopus_1981_2010 = QJE_scopus_1981_2010.replace(np.nan, '', regex=True)
print(QJE_scopus_1981_2010.shape)
QJE_scopus_1981_2010['year'] = QJE_scopus_1981_2010['year'].astype('int')
#QJE_scopus_1981_2010['Article_ID'] = QJE_scopus_1981_2010['Article_ID'].astype('int')
QJE_scopus_1981_2010 = QJE_scopus_1981_2010.reset_index(drop = True)

QJE_scopus_1981_2010  = QJE_scopus_1981_2010[['Article_ID','year','0_author_affs_0']]
                                                                                
print(QJE_scopus_1981_2010.shape)
print(QJE_scopus_1981_2010.columns.values)
print(QJE_scopus_1981_2010.head())

(1583, 48)
(1583, 3)
['Article_ID' 'year' '0_author_affs_0']
  Article_ID  year                                    0_author_affs_0
0    1884601  1980                                                NaN
1    1885499  1980      University Of Delaware, U.S.A., United States
2    1885089  1980    University Of British Columbia, Canada., Canada
3    1884544  1980                                                NaN
4    1885351  1980  Joint Center For Urban Studies Of The Masachus...

In [86]:
# Merging the masterfile onto the new melted file to get additional data
QJE_consolidated_master_scopus_merged['Article_ID'] = QJE_consolidated_master_scopus_merged['Article_ID'].astype('str')
QJE_consolidated_master_scopus_merged_1981 = QJE_consolidated_master_scopus_merged.merge(QJE_scopus_1981_2010, how = 'left', on = 'Article_ID')

QJE_consolidated_master_scopus_merged_1981 = QJE_consolidated_master_scopus_merged_1981.sort_values(by=['year_master'])
QJE_consolidated_master_scopus_merged_1981 = QJE_consolidated_master_scopus_merged_1981.reset_index(drop = True)


# Excel output to get an overview of the data
QJE_consolidated_master_scopus_merged_1981.head
QJE_consolidated_master_scopus_merged_1981.to_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/QJE/Scopus/QJE_consolidated_master_scopus_merged_1981.xlsx')

In [93]:
count = 0
for i in range(len(QJE_consolidated_master_scopus_merged_1981)):
#for i in range(2,4):

    if pd.isna(QJE_consolidated_master_scopus_merged_1981.iloc[i]['0_author_affs_consolidated_0']) and not (pd.isna(QJE_consolidated_master_scopus_merged_1981.iloc[i]['0_author_affs_0'])):
        print('blank')
        print(QJE_consolidated_master_scopus_merged_1981.iloc[i]['Article_ID'])
        print(QJE_consolidated_master_scopus_merged_1981.loc[i,'0_author_affs_consolidated_0'])
        print(QJE_consolidated_master_scopus_merged_1981.loc[i,'0_author_affs_0'])
        count = count +1
        print(count)
        #QJE_consolidated_master_scopus_merged_1981.loc[i,'0_author_affs_consolidated_0'] = QJE_consolidated_master_scopus_merged_1981.loc[i,'0_author_affs_consolidated_0_scopus']
 #       consolidated_master_scopus_merged.loc[i,'5_author_affs_consolidated_0'] = consolidated_master_scopus_merged.loc[i,'5_author_affs_consolidated_0_scopus']
  #      consolidated_master_scopus_merged.loc[i,'6_author_affs_consolidated_0'] = consolidated_master_scopus_merged.loc[i,'6_author_affs_consolidated_0_scopus']
        #print(QJE_consolidated_master_scopus_merged_1981.iloc[i]['0_author_affs_consolidated_0'])
        #print(QJE_consolidated_master_scopus_merged_1981.iloc[i]['0_author_affs_consolidated_0_scopus'])
QJE_consolidated_master_scopus_merged_1981.iloc[[0]].head()

blank
1885089
nan
University Of British Columbia, Canada., Canada
1
blank
2936145
nan
Massachusetts Institute Of Technology, United States
2
blank
1882387
nan
Hebrew University Of Jerusalem, Israel
3
blank
2936147
nan
Massachusetts Institute Of Technology, United States
4
blank
1882684
nan
University Of California, San Diego, United States
5
blank
1880741
nan
University Of Wisconsin‚ÄîMadison, United States
6
blank
1882631
nan
University Of Wisconsin-Madison, United States
7
blank
1882629
nan
Churchill College, Cambridge, United Kingdom
8
blank
1882632
nan
Michigan State University, United States
9
blank
1882626
nan
Board Of Governors Of The Federal Reserve System, University Of Virginia, National Bureau Of Economic Research, United States
10
blank
1882630
nan
United Kingdom
11
blank
1885102
nan
Bowling Green State University, United States
12
blank
1885108
nan
University Of Wyoming, United States
13
blank
1885621
nan
Univ Of S.California, U.S.A., United States
14
blank
1885744
nan
The City University, London, United Kingdom
15
blank
1885745
nan
International Institute Of Management, Wissenschaftszentrum, Germany
16
blank
1885747
nan
University Of Illinois, Chicago, United States
17
blank
1885684
nan
Bell Communications Research Inc., Piscataway, Nj, United States
18
blank
1885682
nan
Indiana University, Bloomington, United States
19
blank
1884369
nan
University College Dublin, Belfield, Dublin 4, Ireland
20
blank
1885687
nan
Seton Hall University, South Orange, Nj, 07079, United States
21
blank
1884371
nan
Bar-Ilan University, Ramat Gan, 5290002, Israel
22
blank
1885688
nan
University Of Washington, Seattle, Wa, United States
23
blank
1884647
nan
London School Of Economics, United States
24
blank
1891119
nan
North Carolina State University, United States
25
blank
1891116
nan
University Of Minnesota, United States
26
blank
1891120
nan
University Of California, Irvine, United States
27
blank
1884178
nan
Princeton University, United States
28
blank
1884180
nan
Yale University, United States
29
blank
1885693
nan
Northwestern University, United States
30
blank
1882651
nan
Queen‚ÄôS University, Kingston, Canada
31
blank
1882650
nan
Massachussetts Institute Of Technology, United States
32
blank
1885116
nan
University Of Guelph, Canada
33
blank
1882654
nan
Institute For International Economic Studies, Stockholm, United States
34
blank
1885117
nan
Columbia University, United States
35
blank
1882641
nan
Massachusetts Institute Of Technology, National Bureau Of Economic Research, United States
36
blank
1885545
nan
Harvard University, United States
37
blank
1885546
nan
University Of Illinois, Chicago, United States
38
blank
1885118
nan
University Of Michigan, United States
39
blank
2937833
nan
Massachusetts Institute Of Technology, United States
40
blank
2937836
nan
Massachusetts Institute Of Technology Northwestern University, United States
41
blank
2937838
nan
Massachusetts Institute Of Technology, University Of California, Berkeley, United States
42
blank
2937854
nan
University Of Michigan, United States
43
blank
2937842
nan
Princeton University, United States
44
blank
2937856
nan
University Of Pennsylvania, United States
45
blank
2937846
nan
University Of Toronto, Canada
46
blank
2937812
nan
Universite Libre De Bruxelles, Belgium
47
blank
2937806
nan
University Of Maryland, United States
48
blank
2937807
nan
Mcmaster University, Canada
49
blank
2937866
nan
University Of Michigan And London School Of Economics, United Kingdom
50
blank
2937808
nan
Princeton University, United States
51
blank
2937828
nan
University Of California, Berkeley, United States
52
blank
2937886
nan
Harvard School Of Public Health, United States
53
blank
2937878
nan
Core, Universit√© Catholique De Louvain, Louvain‚ÄìLa‚ÄìNeuve, Belgium
54
blank
2118326
nan
Princeton University, National Bureau Of Economic Research, United States
55
blank
2118330
nan
University Of Chicago And Nber, Texas A And M University And Unicon Research, United States
56
blank
2118328
nan
Cornell University, Northwestern University, United States
57
blank
2118476
nan
Haevard University, United States
58
blank
2118322
nan
Harvard University And The National Bureau Of Economic Research, Vanderbilt University And The National Bureau Of Economic Research, United States
59
blank
2118365
nan
University Of Chicago, Federal Reserve Bank Of Chicago, National Bureau Of Economic Research University Of Maryland, United States
60
blank
2118385
nan
University Of Michigan, United States
61
blank
2118504
nan
Cornell University, United States
62
blank
2118499
nan
Harvard University, United States
63
blank
2118496
nan
Columbia University, United States
64
blank
2118340
nan
Federal Reserve Bank, San Francisco, United States
65
blank
2118334
nan
Graduate School Of Business, University Of Chicago, Nber, United States
66
blank
2118494
nan
Princeton University, National Bureau Of Economic Research, United States
67
blank
2118408
nan
Sloan School Of Management, Massachusetts Institute Of Technology, United States
68
blank
2118403
nan
Massachusetts Institute Of Technology, Nber, United States
69
blank
2118402
nan
Harvard University, United States
70
blank
2118428
nan
Brown University And The Nber, United States
71
blank
2118430
nan
Board Of Governors Of The Federal Reserve System, United States
72
blank
2118431
nan
Harvard University And The Nber, United States
73
blank
2118470
nan
Harvard University, National Bureau Of Economic Research, Centre For Economic Policy Research, United States
74
blank
2118471
nan
Department Of Economics, Massachusetts Institute Of Technology, United States
75
blank
2118417
nan
Federal Reserve Bank Of Minneapolis, United States
76
blank
2118418
nan
Board Of Governors Of The Federal Reserve System, United States
77
blank
2118416
nan
Massachusetts Institute Of Technology, National Bureau Of Economic Research, United States
78
blank
2118357
nan
St. John‚ÄôS College, Cambridge, United States
79
blank
2118422
nan
University Of Maryland, Nber, United States
80
blank
2118447
nan
Harvard University, National Bureau Of Economic Research, United States
81
blank
2118445
nan
Northwestern University, United States
82
blank
2118517
nan
Graduate School Of Business, University Of Chicago, National Bureau Of Economic Research, United States
83
blank
2946700
nan
Univeristy Of Chicago, United States
84
blank
2946699
nan
London School Of Economics, Nber, United States
85
blank
2946694
nan
Northwestern University, United States
86
blank
2946647
nan
University Of Chicago, United States
87

  Article_ID  year_master 0_author_affs_consolidated_0  year 0_author_affs_0
0    1884607         1980                          NaN   NaN             NaN